html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --success-hover: #31b14f;
  --info-hover: #2ca8bb;
  --warning-hover: #ffc929;
  --danger-hover: #fd3e51;
}

body {
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--dark);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input[type='text'] {
  outline: none;
  border: none;
  height: 1.5rem;
  font-size: 1rem;
}

.weather-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-wrapper {
  display: flex;
  gap: 5px;
}

.submit-button {
  height: 1.5rem;
}

.result {
  margin-top: 20px;
  font-size: 1.2rem;
}

.weather-cards {
  padding: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
  text-align: center;
}

.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.main-card {
  height: unset;
  font-size: 3rem;
}

.main-img {
  width: 128px;
  height: 128px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.forecast-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.forecast-img {
  height: 64px;
  width: 64px;
}
